# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
.env
.test.env
.production.env
**/swagger.json
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
pyppeteer/
playwright/
tmp/
*.egg-info/
.installed.cfg
*.egg
.ruff_cache/
uploads/
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
celerybeat-schedule

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
*.mp4

# local video store path
video/*

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv python configuration file
.python-version

# Virtual environments
venv*
.venv*

# Pytest and coverage
.mypy_cache/
.cache
.coverage
.pytest_cache/

*.pid

# file: ~/.gitignore_global
.idea
download/
avatars/
invoices/
logs/
*.html
celerybeat-schedule*
.vscode/
.*.env
